.App {
  
  text-align: center;
  margin-top:50vh;
  width: 100vh;
 margin-left: 40vh;

}
 body{

  background-image: url("https://i.pinimg.com/originals/d0/24/09/d0240915e065530789e3e06f9083a5c8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  
 }

h1{
  margin-top: 3%;
}

.form-control{
  width:400px;
margin-left: 35vh;
font-family: 'Courier New', Courier, monospace;
 
}




h4{
 margin-left: 15vh;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  
}
h5{
 
  color: gray;
  font-family: 'Courier New', Courier, monospace;
}